body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F4FF69;
  }
  
  .post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .post-box {
    width: 300px;
    background: #1f1f1f;
    padding: 40px;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .post-box h2 {
    margin-bottom: 20px;
    color: #ff0000;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #000000;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    outline: none;
  }
  
  input[type="submit"] {
    background-color: #000000;
    color: #ff0000;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
}
h1{
    color:rgb(255, 255, 255);
}
label{
    color:rgb(255, 255, 255);
}

  