*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
a{
  font-size: 20px;
  border: 2px solid #9400D3;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.menu{
  background-color: whitesmoke;
}
.rodape{
  background-color: #9400D3;
  display: flex;

}
.menu-color{
  background-color: #F4FF69;
  width: 88px;
}
#imagem{
  width: 700px;
  height: 400px;
  border-radius: 10px;
}
