*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px; 
}

h2{
  text-align: center;
  font-weight: 500;
  font-size: 42px;
}

h3{
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}

h4{
  text-align: center;
  font-weight: 300;
  font-size: 25px;
}

p{
  text-align: left;
  font-weight: 100;
  font-size: 20px;
}

a{
  font-size: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  text-decoration: none;
  color: #F4FF69;
  padding: 8px;
}
 
.topo {
  border-width: 50px;
  font-size: 46px;
  padding: 24px 60px 24px 60px;
  width: 275px;
  height: 80px;
  
}
.position-topo{
  background-color: #F4FF69;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4FF69;
}
.menu-name{
  padding-top: 10px;
}
.menu-options{
  display: flex;
  padding: 10px;
}

.main{
  align-items: center;
  width: 700px;
  height: 400px;
}

.rodape{
  height: 100px;
  background-color: #F4FF69;
}

#imagem{
  align-items: center;
  width: 700px;
  height: 400px;
  border-radius: 10px;
}
.logo-reduzida{
  width: 50px;
}

.div-direita{
  display:flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  top: 100px;
  left: 100px;
}

.login-1{
  margin: 20px;
  padding: 40px 80px 40px 80px;
  width:fit-content;
  height:min-content;
  font-family: 'Arial', sans-serif;
  height: 40vh;
  background-color: #f8ff93;
  box-shadow: 25px 10px 10px #F4FF69;
  border-radius: 60px;
  }
  .login-3 {
    margin: 20px;
    padding: 40px 60px 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  .login-box {
    width: 400px;
    background: #F4FF69;
    padding: 60px;
    box-shadow: 15px 5px 10px #F4FF69;
    border-radius: 60px;
    text-align: center;
  }
    input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  }
    input[type="submit"] {
  background-color: rgb(246, 246, 246)e6e;
  color: #e1e1e1;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  input[type="submit"]:hover {
  background-color: #2b2b2b;
  }
